<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <form action="/task/add" method="POST">
    <div class="form-group">
      <label for="title" class="form-label">Write a title:</label>
      <input
        type="text"
        class="form-control rounded-0 bg-dark text-white"
        name="title"
        id="title"
        placeholder="Title..."
      />
    </div>

    <div class="form-group">
      <label for="description" class="form-label">Write description:</label>
      <textarea
        name="description"
        id="description"
        class="form-control rounded-0 bg-dark text-white"
        placeholder="Description..."
      ></textarea>
    </div>

    <button class="btn btn-primary mt-2" type="submit">Add task</button>

  </form>
</div>