<form action="/task/add" method="POST">
  <div>
    <label for="title">Write a title:</label>
    <input type="text" name="title" id="title" placeholder="Title..." />
  </div>

  <div>
    <label for="description">Write description:</label>
    <textarea
      name="description"
      id="description"
      placeholder="Description..."
    ></textarea>
  </div>

  <button type="submit">Add task</button>

</form>